<nav class="navbar navbar-toggleable-md navbar-expand-md navbar-dark bg-primary" id="commRollover">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">OneWay</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/categories">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/articles">Artigos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">Users</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link btn btn-danger" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>